header {
  text-align: center;
  background-color: rgb(84, 121, 255);
  border-radius: 10px;
  padding: 2px;
}

body {
  background-color: lightskyblue;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 15px;
  padding: 10px;
}

.paginaNavigatieBar {
  list-style-type: none;
  margin: 5;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  border-radius: 10px;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

#introductieparagraaf {
  font-family: 'Times New Roman', Times, serif;
}

#generativeAIparagraaf {
  font-family: 'Times New Roman', Times, serif;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#GeneratieveAIAntwoord-span {
  font-style: italic;
}

#logo-gemini {
  height: 230px;
  width: 405px;
  bottom: 46px;
}

#logo-chatgpt {
  position: relative;
  bottom: 465px;
}

#chatbot-div {
  position: relative;
  top: 200px;
}

#logo-chatgpt2 {
  position: relative;
  left: 15px;
}

#GeneratieveAIhuls {
  font-size: 17px;
}

#generatieveAIvoorbeeld-div {
  width: 818px;
}

#advies-div {
  font-style: normal;
}

#chatbot-tekst-div {
  width: 800px;
}

#bericht-label {
  font-weight: bold;
  font-size: 18px;
}

textarea {
  width: 40%;
  height: 110px;
  padding: 10px;
  font-size: 16px;
  resize: both;
}

button {
  height: 40px;
  padding: 3px;
  width: 80px;
  resize: vertical;
  font-size: 16px;
}

.opmerking-knop {
  background-color: darkblue;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
}

.opmerking-knop:hover {
  background-color: cyan;
  color: black;
}

#verstuur-knop {
  position: relative;
  margin-bottom: 10px;
  left: -95px;
  top: 45px;
}

.header-link {
  text-decoration: none;
  color: #111111;
}

.wistjedat {
  background-color: rgb(42, 173, 255);
  padding: 10px;
  border-radius: 10px;
}